body {
	background: #efefef;
}

.sidebar-nav small {
	color: #636363;
}

div.content .summary {
	margin-top: 0;
}

div.content {
	width: auto;
	margin-right: 6px;
}

div.body {
	margin-top: 42px;
}

.post h1 {
	margin-bottom: 16px;
}

.date {
	font-size: 0.8em;
	line-height: 16px;
}

.sidebar-nav {
	margin-top: -6px;
	margin-bottom: 24px;
	float: right;
}

@media (max-width: 767px) {

	.sidebar-nav {
		float: none;
	}

	.sidebar-nav .about {
		display: none;
	}
}

article.post {
	margin-bottom: 24px;
	max-width: 786px;
}

div.content p {
	margin: 12px 0 12px 0;
}

.image-wrapper {
	text-align: center;
}

.image-wrapper .image-caption {
	font-size: 80%;
	margin: 4px 0 0 0;
	color: #898989;
}