body {
	background: #efefef;
}

.sidebar-nav small {
	color: #636363;
}

div.content .summary {
	margin-top: 0;
}

div.content {
	width: auto;
	margin-right: 6px;
	font-size: 18px;
	line-height: 32px;
}

div.body {
	margin-top: 42px;
}

.post h1 {
	margin-bottom: 16px;
}

.date {
	font-size: 0.8em;
	line-height: 16px;
}

.sidebar-nav {
	margin-top: -6px;
	margin-bottom: 24px;
	float: right;
}

@media (max-width: 767px) {
	div.content {
		margin-left: 36px;
	}

	.sidebar-nav {
		margin-left: 20px;
		float: none;
	}

	.sidebar-nav .about {
		display: none;
	}
}

article.post {
	margin-bottom: 24px;
	max-width: 786px;
}

div.content p {
	font-size: 100%;
	line-height: 32px;
	margin: 12px 0 12px 0;
}