<!DOCTYPE HTML>
<html>
<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %} Ethan's mish-mash</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A bunch of musings">
	<meta name="author" content="Ethan Truong">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/assets/css/blog.css" rel="stylesheet">
	<link href="/assets/css/pygments.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="/assets/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container-fluid body">
		<div class="row-fluid">
			<div class="span3">
				<div class="sidebar-nav">
					
					<h2><a href='/'>Ethan's Mish Mash</a></h2>
					<p>
						<small>Optimizing for happiness</small>
					</p>
					<p class="about">
					</p>
				</div>
			</div>
			<div class="span9">
				<div class="row-fluid">
					<div class="content">
						{{content}}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-39014360-1']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</html>
